@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}

html {
    background: ghostwhite;
}

#outer-container {
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10px;

}

header {
    color: ghostwhite;
    top: 0;
    height: 400px;
    background: #c00;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#image-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
    height: 50px;
    top: 14px;
    border: 2px solid ghostwhite;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;

}

#image-logo span {
    color: rgb(24, 24, 24);
    background: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: 7px;
    height: 36px;
    line-height: 36px;
}

#image-logo img {
    background: white;
    padding: 3px 5px;
    position: relative;
    width: 50px;
    height: auto;
}

#section-top {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#section-top h1 {
    color: ghostwhite;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

#section-top h3 {
    color: ghostwhite;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#form-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    min-width: 280px;
    height: 600px;
    margin-left: 50px;
}

#video-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#iframe-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

#iframe-container iframe {

    background-color: ghostwhite;
    padding: 6px;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

#section-middle {

    color: rgb(64, 64, 64);
    font-weight: bold;
    margin: 50px 0px;
}

#section-middle h2 {

    text-align: center;
    font-size: 30px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

#section-middle ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#section-middle li {
    font-size: 18px;
    list-style: none;
}

#section-middle p {
    text-align: center;
}

#section-middle img {
    width: 100%;
    padding: 6px 0px;
    border-top: 2px solid rgb(64, 64, 64);
    border-bottom: 2px solid rgb(64, 64, 64);
}

/* #section-bottom  {
    background: 	rgb(240,240,240);
    padding: 20px;
    display: flex;
    justify-content: center;
}

#section-bottom ul {
    flex: 1;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 6px 10px 16px 10px;
    font-size: 14px;
  
}

#section-bottom li {
    flex: 1;
    list-style: none;
    width: 20%;
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}


#section-bottom a {
    color: #c00;

}

#section-bottom p {
    margin: 10px 0px;

} */


/* IE9+ CSS */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    #section-top h3 {
        font-size: 16px;
    }
}


@media only screen and (max-width: 900px) {

    #section-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    #form-container {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
        margin-left: 0px;
        /* for ie 11 */
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    #video-box {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
        /* for ie 11 */
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    #video-box h1,
    #video-box h3 {
        color: #c00;
        text-align: center;
    }

    #section-middle h2 {
        width: 90%;
    }
}


@media only screen and (max-width: 500px) {
    #outer-container {
        padding: 0;
    }

}