#form-section {
    color: rgb(16, 16, 16);
    height: 500px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid ghostwhite;
    /* box-shadow: 0 3px 15px rgba(0,0,0,.2); */

}

form {

    background: ghostwhite;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;

}
form>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: 100%;
    /* remove space between li*/
    font-size: 0;
}

form>ul>li {
    position: relative;
    padding: 20px;
    list-style: none;
    display: inline-block;
    overflow: hidden;

}

button {
    color: #c00;
    width: 100px;
    height: 40px;
    background: transparent;
    font-size: 20px;
    border: 2px solid #666;
    outline: none;
    cursor: pointer;
}

button:nth-of-type(2) {
    background: #c00;
    color: whitesmoke;
    border: 2px solid #c00;
    border-radius: 3px;

}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {

    #form-section {
        padding: 0;
        border: none;
        /* box-shadow: 0 3px 15px rgba(0,0,0,.2); */

    }
}